
.photo-section{
background-color: #d3d9d4;
}

/* Heading */
.heading {
    font-size: 4rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */;
    text-align: center;
    font-weight: bold;
    margin:10px;
    padding-top:60px;
    color:black
}

/* Subheading */
.h2 {
    padding:0;
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */;
    font-style: italic;
    color: black;
}

/* Individual Photo */
.photo {
    display: inline-block;
    vertical-align: top;
    transition: transform 0.2s;
    max-width: 100%; /* Ensure the image scales to fit the container */
    height: auto; /* Allow the image to scale proportionally */
    border-radius: 15px;
    margin: 20px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    image-rendering: optimizeQuality; /* Keep images crisp */
    /* animation: movePhotos 35s linear infinite; */
}


/* Photo Container */
.photo-container {
    display: flex;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    justify-content: center; /* Center-align photos */
    margin: auto; /* Center the container */
}

.photo:hover {
    transform: scale(1.05); /* Slight scaling on hover */
    z-index: 10;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 1200px) {
    .heading {
        font-size: 3.5rem; /* Slightly decrease font size for medium screens */
    }

    .photo {
        margin: 15px; /* Adjust margin for medium screens */
    }
}

@media (max-width: 992px) {
    .heading {
        font-size: 3rem; /* Further decrease font size for smaller screens */
    }

    .photo-container {
        flex-wrap: wrap; /* Allow photos to wrap */
        justify-content: center; /* Center the wrapped photos */
    }

    .photo {
        margin: 10px; /* Adjust margin for smaller screens */
        width: calc(50% - 20px); /* Two photos per row with spacing */
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 2.5rem; /* Decrease font size for smaller screens */
    }

    .photo {
        width: calc(100% - 20px); /* Full width with margin */
        margin: 10px auto; /* Center photos */
    }
}

@media (max-width: 576px) {

    .photo {
        width: 100%; /* Ensure photos take full width */
        margin: 5px auto; /* Adjust margin for very small screens */
    }

    .heading {
        text-align: center;
        padding-top:30%;
        font-size: 3.3rem;
        max-width:  100vw;
        overflow: hidden;
        padding-bottom: 0.5;
    }
}