<div class="photo-container">
        <img class="photo" src="assets/apples.jpg">
        <img class="photo" src="assets/bike.JPG">
        <img class="photo" src="assets/boston.jpg">
        <img class="photo" src="assets/cacti.JPG">
        <img class="photo" src="assets/fountain.jpg">
        <img class="photo" src="assets/jug_baby.jpg">
        <img class="photo" src="assets/millipede.JPG">
        <img class="photo" src="assets/moco_lights.jpg">
        <img class="photo" src="assets/temple.jpg">
        <img class="photo" src="assets/aloe.JPG">
        <img class="photo" src="assets/greenhouse.JPG">
        <img class="photo" src="assets/DSCF0196.JPG">
    <!-- Add more photo elements with images as needed -->
</div>
