/* photo-gallery.component.css */
.heading {
    font-size: 4rem; /* Increased font size */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Similar to Apple's font */
    text-align: center;
    font-weight: bold;
}
.h2{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Similar to Apple's font */
}
.photo {
    display: inline-block;
    vertical-align: top;
    transition: transform 0.2s;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin: 20px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative; /* Required for z-index */
    overflow:hidden;
    overflow-x: hidden;
    display:inline-flex;
   /* animation: movePhotos 10s linear infinite; /* Adjust animation duration */
}


@keyframes movePhotos {
    0% {
        transform: translateX(-100%); /* Start at the original position */
    }
    100% {
        transform: translateX(100%); /* Move the blocks off-screen to the right */
    }
}

.photo-container {
 /* Hide the blocks that move off-screen */
    display:inline-flex;
    margin:auto;
}

