/* Heading */
.heading {
    font-size: 4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin:10px;
}

/* Subheading */
.h2 {
    padding:0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

/* Individual Photo */
.photo {
    display: inline-block;
    vertical-align: top;
    transition: transform 0.2s;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin: 20px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
   /* animation: movePhotos 35s linear infinite; */
}

/* Keyframes for Moving Photos */
@keyframes movePhotos {
    0% {
        transform: translateX(-500%); /* Start at the original position */
    }
    100% {
        transform: translateX(100vw); /* Move off-screen to the right */
    }
}

/* Photo Container */
.photo-container {
    display: flex;
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    justify-content: center; /* Center-align photos */
    margin: auto; /* Center the container */
}

.photo:hover {
    transform: scale(1.05); /* Slight scaling on hover */
    z-index: 10;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
}