<div class="photo-container">
    <div class="photo">
        <img src="assets/DSCF0170.JPG">
    </div>
    <div class="photo">
        <img src="assets/DSCF0170.JPG">
    </div>
    <div class="photo">
        <img src="assets/DSCF0170.JPG">
    </div>
    <div class="photo">
        <img src="assets/DSCF0170.JPG">
    </div>
    <div class="photo">
        <img src="assets/DSCF0170.JPG">
    </div>
    <div class="photo">
        <img src="assets/DSCF0170.JPG">
    </div>
    <!-- Add more photo elements with images as needed -->
</div>
