





/* Journey Section */
.Journey {
    background-color: #ffffff; /* White background color */
    height: fit-content;
    font-size: 4rem; /* Increased font size */
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */
    font-weight: bold; /* Added font weight */
    color: #000000; /* Black text color */
    position: relative; /* Required for absolute positioning of the snake */
    overflow: hidden;/* Hide overflow for the snake animation */
    z-index: 0;
}





/* Section */
.section {
    background-color: #ffffff; /* White background color */
    height: 100vh;
    font-size: 4rem; /* Increased font size */
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */
    font-weight: bold; /* Added font weight */
    color: #000000; /* Black text color */
    overflow: hidden;
}

/* Cursor Follower */
.cursor-follower {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(230, 114, 37, 0.822); /*for cursor follower*/
    opacity: 0.5; /* Adjusted opacity */
    z-index: 10000;
    pointer-events: none;
}

/* Intro */
.intro {
    color: #000000; /* Black text color */
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Changed font family */
    font-size: 1.2rem; /* Increased font size */
    width: 60%; /* Made it wider across the page */
    margin: auto; /* Center the element */
    text-align: center; /* Center-align the text */
    overflow: hidden;
    padding-top: 10px;
    padding-bottom:5%;
}

/* Contact Section */



@media only screen and (max-width: 600px) {
    .intro-container{
      display: flex;
      flex-direction: column;

    }
    .readMe{
        width: auto;
    }
    .expHeader{
        width: auto;
    }
    .xpBlock{
        width: auto;
    }
    .project-block{
        width: auto;
    }
    .block{
        width: auto;
    }
    .home{
        margin-top:255px;
    }
  }
