

<app-nav-bar id="home"></app-nav-bar>
    <span class="cursor-follower"></span>
    <div class="home">
        <P class="heading"> <i style="font-size: 26px">Hey, I'm</i> <br>Liam Glockner</P>
        <div stlye="display: flex; align-items: center; margin-top:10%; /* Vertically center items */">
            <img class="pfp" src="assets/me.jpg" alt="Liam Glockner">
            <p class="readMe"> "I started this website as a place to learn and grow my skills in front end development. 
                The idea of using this site to be creative and having it become a long term project to iterate and improve for years to come is a big motivator for me. 
                My only hope from this project is that you enjoy learning a bit more about me and my background and to inspire others to create their own websites."
                <br><br>All the Best,<br><br>
                - Liam
            </p>
           
        </div>
        
    </div>
    <div id="aboutme" class ="Journey">
        <h3>Experiences</h3>
        <div class="container">
            <div class="xpBlock"> 
                <p class="expHeader">Associate Software Engineer <img class="logo" src="assets/Fidelity.webp"></p> 
                <p class="experiences">Fidelity Investments: <i> June 2023 - Present</i></p>
                <p style="font-size: 12px; text-align: left; width: 50%;"> 
                    Building things has always been at the core of my pursuits and I have always wanted to have a job at the intersection of creativity and problem solving. 
                    Naturally, I gravitated towards the tech industry. There is a great amount of change and hard problems to be solved.
                    I found fidelity to be a place where I can use new and emerging technology, while also having the 
                    stability and room to grow at a large company right out of school.
                    <br>
                    <br>
                    Working in regulatory reporting for a large financial company is an area where there is lots of pressure to get things done on time. If things are not done, the regulators fine the company.
                    Having this sense of responsibiltiy to get things done and be punctual plays well into my personal beliefs and skill set.
                </p>
                <ul style="font-size: 12px; text-align: left; width:50%;font-weight:400;">
                    <li style="padding-bottom: 5px;">
                        Utilized kdb+ and python to process, manipulate, normalize, and
                        report millions of real time and batch process financial records to
                        Financial regulators.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Took initiative to optimize outdated processes and systems and
                        improved lacking documentation and architecture diagrams for large
                        production system.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Developed initial wireframes and UI screens for defi regulators to
                        monitor and change rules related to crypto exchanges, tokens, and
                        wallet addresses using Angular and JS.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Worked extensively with redhat Linux environment for development and testing.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Developed for a production application in a highly regulated
                        environment with firm time constraints.
                    </li>
                </ul>
            </div>

            <div class="xpBlock">
                <p class="expHeader">Software Engineering Intern <img class="logo" src="assets/Fidelity.webp" alt="Liam Glockner"></p> 
                <p class="experiences">Fidelity Investments: <i> Summer 2022</i></p>
                <p style="font-size: 12px; text-align: left; width: 50%;"> 
                   Working as an Intern for a large investment bank was a great experience for me. As a technology centered company with lots of funding for cutting edge projects and research, 
                   I was excited for the opportunity. 
                   <br>
                   <br>
                   I worked for the most part, on my own for the duration of the project and was given a lot of creative freedom with how the project looked.
                   this was my first foray into front end devlopment and became a great area of growth for me. 
                   <br>
                   <br>
                   Eventually it led to an interview for a fulltime position. I was invited to return to the team after gradutation and to be kept on part time after my internship was over.
                   After some thought I passed on the opportunity, I wanted to try a different area of the company and a new tech stack.
                </p>
                <ul style="font-size: 12px; text-align: left;font-weight:400;">
                    <li style="padding-bottom: 5px;">
                        Led the design and development for the entirety of a proof-ofconcept idea involving auto-filling of customer liability data
                        information utilizing Experian APIs, Angular, DynamoDB.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Increased customer liability reporting by 24% through streamlining
                        the linking of financial accounts on Net-Worth application.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Conducted research into API development for this context.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Created DynamoDB for storage of liability data using AWS and cloud
                        formation templates.
                    </li>
                </ul>
            </div>
            
            <div class="xpBlock">
                <p class="expHeader">IT Systems Technician<img style="margin-left: 28%;" class="logo" src="assets/me_library.JPG" alt="Liam Glockner"></p> 
                <p class="experiences">Umass Libraries: <i>Jan 2020 - May 2023</i></p>
                <p style="font-size: 12px; text-align: left; width: 50%; "> 
                    My experience at the Umass Libraries during my time as an undergraduate student was one of my most formative experiences. 
                    To work in a place focussed on the learning and education was a incredibly fulfilling, since I knew that all the work I did everyday was benefiting the people around me. 
                    <br>
                    <br>
                    I made some of my best friends in college through this job and learned everything about IT from my two bosses. Both at the time were the heads of technology systems for all of libaries on the Amherst campus.
                    In my free time here I was able to tinker with the technology the library provided to all of its students. And when its the 3rd tallest library in the world, that means there is a lot of tech at your fingertips. From dissassembling hard drives, rebuilding entire computers for the staff,
                    and even troubleshooting cutting edge 3D printers in the media lab, This job allowed me to help people through fixing things.
                    <br>
                    <br>
                    I loved my time here and it was extremely rewarding for me to understand what I was learning in my classes at a more physical level and to teach others the same. 
                    However, I couldn't stay. Graduation came and went and Boston was calling me.
                     
                    
                 </p>
                <ul style="font-size: 12px; text-align:left; width:50%;font-weight:400;">
                    <li style="padding-bottom: 5px;">
                        Developed a deep understanding of large-scale backend and cloud
                        systems as well as physical server management techniques.

                    </li>
                    <li style="padding-bottom: 5px;">
                        Repaired, replaced, and digitally imaged/updated laptop and
                        desktop computers for staff and classroom utilization/instruction.
                        
                    </li>
                    <li style="padding-bottom: 5px;">
                        Installed, upgraded, and maintained library server and computer
                        hardware including servers, tape libraries, tape drives, laptops,
                        desktops cameras, network ports, to improve data transmission and
                        storage capabilities.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Mentored 7 new hires in final two years working.
                    </li>
                </ul>
            </div>

            <div class="xpBlock">
                <p class="expHeader">UMASS Amherst <img style="margin-left: 39.5%;"class="logo" src="assets/Umass.webp" alt="Liam Glockner"></p>
                <p class="experiences">B.S in Computer Engineering, earned may 2023</p>
                <p style="font-size: 12px; text-align: left; width: 50%;"> 
                    Walking the halls of UMASS Amherst as a Computer Engineering student wasn't just about hitting the books; 
                    it was about diving headfirst into a whirlwind of experiences. Between grappling on the mats at Jiu Jitsu club, tinkering in the M5 Makerspace, and forging friendships that felt more like family, every day brought something new. 
                    <br>
                    <br>
                    And when it came to putting my skills to the test, my internships at Fidelity Investments were game-changers. Working across different teams and technologies, I got a taste of the real-world tech scene, diving deep into projects and learning from some of the best in the business.

                    But perhaps the highlight of my UMASS journey was my Senior Design Project. A group of passionate engineers coming together to bring our wildest idea to life – an autonomous robot. From brainstorming sessions to late-night coding and integration, we poured our hearts and souls into this project. And when our creation finally rolled through the halls of the lab all on its own, it was nothing short of magical. Watching our robot, powered by our code and creativity, was a moment I'll never forget.
                    <br>
                    <br>
                    Ultimately, UMASS Amherst gave me opportuinities and friends I will forever be greateful for. When I graduated I knew I would be ready for whatever the world threw at me. </p>
            </div>

        </div>
    </div>
    <div id="projects" class ="Projects">
        <h3>Projects</h3>
        <div class="container">
            <div class="block">
                <p class="projectHeader">B.R.U.C.E</p>
                <ul style="font-size: 12px; text-align: left;">
                    <li style="padding-bottom: 5px;">
                        Autonomous air ventilation exploration robot capable of sensing various real time diagnostic
                        information to help serve technicians.  
                    </li>
                    <li style="padding-bottom: 5px;">
                        A* algorithm traversal with Arduino/Raspberry Pi microcontrollers and Custom PCB.
                        Programmed in Micro Python and C++.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Outcome: Received first place among 30 other design projects for ECE department.
                    </li>
                    <a class="link" href="http://sdp.ecs.umass.edu/sdp23/team02/#cruise">More Info</a>
                </ul>
                <img style=" max-height:255px; max-width:100%;"src="assets/Bruce.png">
            </div>
            <div class="project-block"> 
                <img class="photo" src="assets/LaserComm.png">
            </div>
            <div class="block">
                <p class="projectHeader">Garden Warden</p>
                <ul style="font-size: 12px; text-align: left;">
                    <li style="padding-bottom: 5px;">
                        Created for my outdoor Garden plot with Python and Arduino to check moisture level of plants based on soil
                        capacitance and send alerts when in need of watering. 
                        cerated using arduino and custom PCB.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Outcome: Utilized BLE and Duty cycling techniques to reduce power
                        consumption as well as help keep my vegetables happy even when I forget about them.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Plan to integrate automated watering system and allow for user inputs to cater to varying plant types and watering constraints. 
                    </li>
                </ul>
                <img style="max-height:225px; max-width:100%;" src="assets/HappyPlant.webp">
            </div>
        </div>
    </div>
    
<app-photo-gallery id="photography"></app-photo-gallery>

    <div id="contact" class ="contactSection">
        <section class="contact">
            <h2>Contact Me</h2>
            <div class="social-links">
              <a href="https://www.instagram.com/glockner.photo/" class="social-link">Instagram</a>
              <a href="https://www.linkedin.com/in/liamglockner/" class="social-link">LinkedIn</a>
              <a href="https://github.com/Lglockner99" class="social-link">GitHub</a>
            </div>
        </section>
    </div>
<app-footer></app-footer>

