<span class="cursor-follower"></span>


    <app-nav-bar id="home"></app-nav-bar>
    <div class="home">
        <P class="heading"> <i style="font-size: 26px">Hey, I'm</i> <br>Liam Glockner</P>
        <p class="intro"> 
            I'm an electrical and computer engineer who is passionate about creating applications and devices that help people.
            I am always looking for new opportunities to enhance my skillset and experiment with new tech.
            During my free time I enjoy photography, jiu jitsu, and exploring the natural world.
        </p>
        <div class="pfp">
            <img class="pfp" src="assets/DSCF0170.JPG" alt="Liam Glockner">
            <!-- Other content goes here -->
        </div>
    </div>
    <div id="aboutme" class ="Journey">
        <h3>My Journey</h3>
        <div class="container">
            <div class="block">
                <p class="expHeader">Software Engineering Intern</p>
                <p class="experiences">Fidelity Investments <br> <i> Summer 2022</i></p>
                <ul style="font-size: 12px; text-align: left;">
                    <li style="padding-bottom: 5px;">
                        Led the design and development for the entirety of a proof-ofconcept idea involving auto-filling of customer liability data
                        information utilizing Experian APIs, Angular, DynamoDB.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Increased customer liability reporting by 24% through streamlining
                        the linking of financial accounts on Net-Worth application.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Conducted research into API development for this context.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Created DynamoDB for storage of liability data using AWS and cloud
                        formation templates.
                    </li>
                </ul>
            </div>
            <div class="block"> 
                <p class="expHeader">Associate Software Engineer</p>
                <p class="experiences">Fidelity Investments <br> <i> June 2023 - Present</i></p>
                <ul style="font-size: 12px; text-align: left;">
                    <li style="padding-bottom: 5px;">Utilized kdb+ and python to process, manipulate, normalize, and
                        report millions of real time and batch process financial records to
                        Financial regulators.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Took initiative to optimize outdated processes and systems and
                        improved lacking documentation and architecture diagrams for large
                        production system.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Created wireframes and functional UI screens for defi regulators to
                        monitor and change rules related to crypto exchanges, tokens, and
                        wallets using Angular and JS.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Worked extensively with Linux servers.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Developed for a production application in a highly regulated
                        environment with firm time constraints.
                    </li>
                </ul>
            </div>
            <div class="block">
                <p class="expHeader">IT Systems Technician</p>
                <p class="experiences">Umass Libraries <br> <i>Jan 2020 - May 2023</i></p>
                <ul style="font-size: 12px; text-align: left;">
                    <li style="padding-bottom: 5px;">
                        Developed a deep understanding of large-scale backend and cloud
                        systems as well as physical server management techniques.

                    </li>
                    <li style="padding-bottom: 5px;">
                        Repaired, replaced, and digitally imaged/updated laptop and
                        desktop computers for staff and classroom utilization/instruction.
                        
                    </li>
                    <li style="padding-bottom: 5px;">
                        Installed, upgraded, and maintained library server and computer
                        hardware including servers, tape libraries, tape drives, laptops,
                        desktops cameras, network ports, to improve data transmission and
                        storage capabilities.
                    </li>
                    <li style="padding-bottom: 5px;">
                        Mentored 7 new hires in final two years working.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="projects" class ="section">
        <h3>Projects</h3>
        <p> </p>
    </div>
    
    <app-photo-gallery></app-photo-gallery>
    
    <div id="contact" class ="contactSection">
        <section class="contact">
            <h2>Contact Me</h2>
            <div class="social-links">
              <a href="https://www.instagram.com/glockner.photo/" class="social-link">Instagram</a>
              <a href="https://www.linkedin.com/in/liamglockner/" class="social-link">LinkedIn</a>
              <a href="https://github.com/Lglockner99" class="social-link">GitHub</a>
            </div>
        </section>
    </div>
<app-footer></app-footer>

