<div id="projects" class ="Projects">
    <h3 class="heading">Projects</h3>
    <div class="container">
        <div class="block">
            <p class="projectHeader">B.R.U.C.E</p>
            <ul style="font-size: 12px; text-align: left;">
                <li style="padding-bottom: 5px;">
                    Autonomous air ventilation exploration robot capable of sensing various real time diagnostic
                    information to help serve technicians.  
                </li>
                <li style="padding-bottom: 5px;">
                    A* algorithm traversal with Arduino/Raspberry Pi microcontrollers and Custom PCB.
                    Programmed in Micro Python and C++.
                </li>
                <li style="padding-bottom: 5px;">
                    Outcome: Received first place among 30 other design projects for ECE department.
                </li>
                <a class="link" href="http://sdp.ecs.umass.edu/sdp23/team02/#cruise">More Info</a>
            </ul>
            <img style=" max-height:255px; max-width:100%;"src="assets/Bruce.png">
        </div>
        <div class="project-block"> 
            <img class="photo" src="assets/LaserComm.png">
        </div>
        <div class="block">
            <p class="projectHeader">Garden Warden</p>
            <ul style="font-size: 12px; text-align: left;">
                <li style="padding-bottom: 5px;">
                    Created for my outdoor Garden plot with Python and Arduino to check moisture level of plants based on soil
                    capacitance and send alerts when in need of watering. 
                    cerated using arduino and custom PCB.
                </li>
                <li style="padding-bottom: 5px;">
                    Outcome: Utilized BLE and Duty cycling techniques to reduce power
                    consumption as well as help keep my vegetables happy even when I forget about them.
                </li>
                <li style="padding-bottom: 5px;">
                    Plan to integrate automated watering system and allow for user inputs to cater to varying plant types and watering constraints. 
                </li>
            </ul>
            <img style="max-height:225px; max-width:100%;" src="assets/HappyPlant.webp">
        </div>
    </div>
</div>
