<div class="home">
    <P class="heading"> <i style="font-size: 26px">Hey, I'm</i> <br>Liam Glockner</P>
    <div class="intro-container">
        <img class="pfp" src="assets\Me in BW.jpg" alt="Liam Glockner">
        <p class="readMe">  "I created this website as a platform to develop and refine my front-end development skills. The idea of using this space to express creativity, while evolving it into a long-term project that I can iterate on and improve over the years, is a major source of motivation for me. My hope is that you enjoy learning a bit more about me and my background, and that this project inspires others to embark on their own website-building journeys."  
            <br><br>All the Best,<br><br>
            - Liam
        </p>
    </div>
    <div id="contact" class ="contactSection">
        <section class="contact">
            <h2>Contact Me</h2>
            <div class="social-links">
              <a href="https://www.instagram.com/glockner.photo/" class="social-link">Instagram</a>
              <a href="https://www.linkedin.com/in/liamglockner/" class="social-link">LinkedIn</a>
              <a href="https://github.com/Lglockner99" class="social-link">GitHub</a>
            </div>
        </section>
    </div>
</div>

