<div class="home">
    <P class="heading"> <i style="font-size: 26px">Hey, I'm</i> <br>Liam Glockner</P>
    <div class="intro-container">
        <img class="pfp" src="assets\Me in BW.jpg" alt="Liam Glockner">
        <p class="readMe"> "I started this website as a place to learn and grow my skills in front end development. 
            The idea of using this site to be creative and having it become a long term project to iterate and improve for years to come is a big motivator for me. 
            My only hope from this project is that you enjoy learning a bit more about me and my background, and to inspire others to create their own websites."
            <br><br>All the Best,<br><br>
            - Liam
        </p>
    </div>
    
</div>
