.xpBlock{
    text-align: center;
    padding-bottom: 50px;
    margin-left:33%;
    }


    /* Journey Section */
.Journey {
    background-color: #ffffff; /* White background color */
    height: fit-content;
    font-size: 4rem; /* Increased font size */
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */
    font-weight: bold; /* Added font weight */
    color: #000000; /* Black text color */
    position: relative; /* Required for absolute positioning of the snake */
    overflow: hidden;/* Hide overflow for the snake animation */
    z-index: 0;
}

/* Header Text */
.expHeader {
    font-size: 2.5rem; /* Adjusted font size */
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */
    font-weight: bold; /* Added font weight */
    text-align: left;
    margin:0;
    min-width: 20%;
    display:flex;
    align-items: center;
}

/* Experience Text */
.experiences {
    font-size: 1.0rem; /* Adjusted font size */
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";; /* Similar to Apple's font */
    overflow:hidden;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.logo {
    min-width:100px;
    height:100px;
    overflow:hidden;
    border: 1px solid #dcdcdc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right:30px;
}