<div id="aboutme" class ="Journey">
    <h3>Experiences</h3>
    <div class="container">
        <div class="xpBlock"> 
            <p class="expHeader">Associate Software Engineer </p> 
            
            <p class="experiences"><img class="logo" src="assets/Fidelity.webp"> Fidelity Investments: June 2023 - Present</p>
            <p style="font-size: 14px; text-align: left; width:60%;"> 
                Building things has always been at the core of my pursuits and I have always wanted to have a job at the intersection of creativity and problem solving. 
                Naturally, I gravitated towards the tech industry. There is a great amount of change and hard problems to be solved.
                I found fidelity to be a place where I can use new and emerging technology, while also having the 
                stability and room to grow at a large company right out of school.
                <br>
                <br>
                Working in regulatory reporting for a large financial company is an area where there is lots of pressure to get things done on time. If things are not done, the regulators fine the company.
                Having this sense of responsibiltiy to get things done and be punctual plays well into my personal beliefs and skill set.
            </p>
          
        </div>

        <div class="xpBlock">
            <p class="expHeader">Software Engineering Intern</p> 
            <p class="experiences"><img class="logo" src="assets/Fidelity.webp" alt="Liam Glockner">Fidelity Investments: Summer 2022</p>
            <p style="font-size: 14px; text-align: left; width: 60%;"> 
               Working as an Intern for a large investment bank was a great experience for me. As a technology centered company with lots of funding for cutting edge projects and research, 
               I was excited for the opportunity. 
               <br>
               <br>
               I worked for the most part, on my own for the duration of the project and was given a lot of creative freedom with how the project looked.
               this was my first foray into front end devlopment and became a great area of growth for me. 
               <br>
               <br>
               Eventually it led to an interview for a fulltime position. I was invited to return to the team after gradutation and to be kept on part time after my internship was over.
               After some thought I passed on the opportunity, I wanted to try a different area of the company and a new tech stack.
            </p>
        </div>
        
        <div class="xpBlock">
            <p class="expHeader">IT Systems Technician</p> 
            <p class="experiences"><img  class="logo" src="assets/library.webp" alt="Liam Glockner">Umass Libraries: Jan 2020 - May 2023</p>
            <p style="font-size: 14px; text-align: left; width: 60%; "> 
                My experience at the Umass Libraries during my time as an undergraduate student was one of my most formative experiences. 
                To work in a place focussed on the learning and education was a incredibly fulfilling, since I knew that all the work I did everyday was benefiting the people around me. 
                <br>
                <br>
                I made some of my best friends in college through this job and learned everything about IT from my two bosses. Both at the time were the heads of technology systems for all of libaries on the Amherst campus.
                In my free time here I was able to tinker with the technology the library provided to all of its students. And when its the 3rd tallest library in the world, that means there is a lot of tech at your fingertips. From dissassembling hard drives, rebuilding entire computers for the staff,
                and even troubleshooting cutting edge 3D printers in the media lab, This job allowed me to help people through fixing things.
                <br>
                <br>
                I loved my time here and it was extremely rewarding for me to understand what I was learning in my classes at a more physical level and to teach others the same. 
                However, I couldn't stay. Graduation came and went and Boston was calling me.
                 
             </p>
        </div>

        <div class="xpBlock">
            <p class="expHeader">UMASS Amherst</p>
            <p class="experiences"><img class="logo" src="assets/Umass.webp" alt="Liam Glockner">B.S in Computer Engineering, earned May 2023</p>
            <p style="font-size: 14px; text-align: left; width: 60%;"> 
                Walking the halls of UMASS Amherst as a Computer Engineering student wasn't just about hitting the books; 
                it was about diving headfirst into a whirlwind of experiences. Between grappling on the mats at Jiu Jitsu club, tinkering in the M5 Makerspace, and forging friendships that felt more like family, every day brought something new. 
                <br>
                <br>
                And when it came to putting my skills to the test, my internships at Fidelity Investments were game-changers. Working across different teams and technologies, I got a taste of the real-world tech scene, diving deep into projects and learning from some of the best in the business.

                But perhaps the highlight of my UMASS journey was my Senior Design Project. A group of passionate engineers coming together to bring our wildest idea to life – an autonomous robot. From brainstorming sessions to late-night coding and integration, we poured our hearts and souls into this project. And when our creation finally rolled through the halls of the lab all on its own, it was nothing short of magical. Watching our robot, powered by our code and creativity, was a moment I'll never forget.
                <br>
                <br>
                Ultimately, UMASS Amherst gave me opportuinities and friends I will forever be greateful for. When I graduated I knew I would be ready for whatever the world threw at me. </p>
        </div>

    </div>
</div>
