/* Photography Section Starts here */

.photography {
    text-align: center;
    padding: 50px 0;
    height:100vh;
    width:100vw;
  }
  
  .photography h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .slide {
    flex: 0 0 auto;
    transition: transform 0.5s ease;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }